@media screen and (min-width: 1200px) {
	.homer {
		width:312px; 
		height:312px;
		background:url(homer.jpg) 0px 0px;	
	}
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
	.homer {
		width:312px; 
		height:312px;
		background:url(homer.jpg) 312px 0px;	
	}
}

@media screen and (max-width: 800px) and (min-width: 400px) {
	.homer {
		width:312px; 
		height:312px;
		background:url(homer.jpg) 0px -312px;	
	}
}

@media screen and (max-width: 400px) {
	.homer {
		width:312px; 
		height:312px;
		background:url(homer.jpg) 312px -312px;	
	}
}